<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580207798786-hac4qs2hs4tl95l8vib7kmmcvjfqhhbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580207798786-hac4qs2hs4tl95l8vib7kmmcvjfqhhbd</string>
	<key>API_KEY</key>
	<string>AIzaSyAO95jHg6P3cFAvMD7R0KwqEvh7K8lQ4rk</string>
	<key>GCM_SENDER_ID</key>
	<string>580207798786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivanenko2010-gmail.com.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolistswiftui-96caa</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistswiftui-96caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580207798786:ios:d6d1cda06adcb681a9d51b</string>
</dict>
</plist>